<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239305491997-0osjflau5b2ogoq14385gg2sc1hndouk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239305491997-0osjflau5b2ogoq14385gg2sc1hndouk</string>
	<key>API_KEY</key>
	<string>AIzaSyAhcUu6Pq7XlR9POlvJKWxfqnYUguHpSDY</string>
	<key>GCM_SENDER_ID</key>
	<string>239305491997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lab11expansion.GsTodo</string>
	<key>PROJECT_ID</key>
	<string>todotestapp-d1559</string>
	<key>STORAGE_BUCKET</key>
	<string>todotestapp-d1559.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239305491997:ios:d8cee6d29e2a95a8f4e8f4</string>
</dict>
</plist>